/* You can add global styles to this file, and also import other style files */
  :host ::ng-deep {
    @import '../../../node_modules/bootstrap/scss/bootstrap';
    formly-field-select select.form-control {
      -webkit-appearance: menulist-button !important;
      appearance: menulist-button !important;
  }
    .repeat-item {
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
      margin-bottom: 15px;
      padding: 15px;
  }
    .btn-outline-info {
      color: #CF4500;
      background-color: transparent;
      border-color: #CF4500;
  }
    .btn-info,.btn-outline-info:hover, .btn-info:hover {
      color: #fff;
      background-color: #CF4500;
      border-color: #CF4500;
  }
    .btn-outline-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled):active {
      color: #fff;
      background-color: #dd8b62;
      border-color: #dd8b62;
  }
    .btn-outline-info:disabled {
      color: #dd8b62;
      background-color: transparent;
  }
    .btn-outline-info:focus, .btn-outline-info.focus {
      box-shadow: 0 0 0 0.2rem #dd8b62;
  }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
      background-color: #CF4500;
  }
    .custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
      background-color: #dd8b62;
  }
}

.config-form-container {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 15px;
}
/* The Modal (background) */
.modal-dialog-test {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




